<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952918824396-9c69v4jfqga14e0647lu3tb4ml3i3vmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952918824396-9c69v4jfqga14e0647lu3tb4ml3i3vmb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>952918824396-nminbj8clg79vrtfe8rt7uus0h7haja3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALxqShqLWJvtDy2K-JYX7t_0f6Z4xwILg</string>
	<key>GCM_SENDER_ID</key>
	<string>952918824396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-app-fbcc9</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-app-fbcc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952918824396:ios:cb11cddabc939892657969</string>
</dict>
</plist>